body {
  font-family: arial,helvetica,sans-serif;
  margin: 0; }

.form {
  position: fixed;
  top: 20px;
  left: 20px; }

.wall .block {
  float: left;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center -999px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

  .wall .block.visible { background-position: center center; }
