body {
  font-family: arial,helvetica,sans-serif;
  margin: 0; }

.form {
  position: fixed;
  top: 20px;
  left: 20px; }

.wall .block {
  float: left;
  background-position: center center;
  background-size: cover;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
